@charset "UTF-8";
@import "./_mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@keyframes leftToright{
  0%{
    width: 100%;
  }
  100%{
    width: 0%;
  }
}
@keyframes fe_nv{
  0%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-nv-1.png");
  }
  25%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-nv-2.png");
  }
  50%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-nv-3.png");
  }
  75%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-nv-4.png");
  }
}
@keyframes fe_lv{
  0%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-lv-1.png");
  }
  25%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-lv-2.png");
  }
  50%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-lv-3.png");
  }
  75%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-lv-4.png");
  }
}
@keyframes fe_wh{
  0%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-wh-1.png");
  }
  25%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-wh-2.png");
  }
  50%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-wh-3.png");
  }
  75%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-wh-4.png");
  }
}
@keyframes fe_mt{
  0%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-mt-1.png");
  }
  25%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-mt-2.png");
  }
  50%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-mt-3.png");
  }
  75%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-mt-4.png");
  }
}
@keyframes fe_rd{
  0%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-rd-1.png");
  }
  25%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-rd-2.png");
  }
  50%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-rd-3.png");
  }
  75%{
    background-image: url("../img/portfolio/samsung/s20-fe-5g-rd-4.png");
  }
}
@keyframes fold2_bk{
  0%{
    background-image: url("../img/portfolio/samsung/z-fold2-bk-1.png");
  }
  17%{
    background-image: url("../img/portfolio/samsung/z-fold2-bk-2.png");
  }
  34%{
    background-image: url("../img/portfolio/samsung/z-fold2-bk-3.png");
  }
  51%{
    background-image: url("../img/portfolio/samsung/z-fold2-bk-4.png");
  }
  68%{
    background-image: url("../img/portfolio/samsung/z-fold2-bk-5.png");
  }
  85%{
    background-image: url("../img/portfolio/samsung/z-fold2-bk-6.png");
  }
}
@keyframes fold2_bz{
  0%{
    background-image: url("../img/portfolio/samsung/z-fold2-bz-1.png");
  }
  17%{
    background-image: url("../img/portfolio/samsung/z-fold2-bz-2.png");
  }
  34%{
    background-image: url("../img/portfolio/samsung/z-fold2-bz-3.png");
  }
  51%{
    background-image: url("../img/portfolio/samsung/z-fold2-bz-4.png");
  }
  68%{
    background-image: url("../img/portfolio/samsung/z-fold2-bz-5.png");
  }
  85%{
    background-image: url("../img/portfolio/samsung/z-fold2-bz-6.png");
  }
}
@keyframes flip_bz{
  0%{
    background-image: url("../img/portfolio/samsung/flip-bz-1.png");
  }
  17%{
    background-image: url("../img/portfolio/samsung/flip-bz-2.png");
  }
  34%{
    background-image: url("../img/portfolio/samsung/flip-bz-3.png");
  }
  51%{
    background-image: url("../img/portfolio/samsung/flip-bz-4.png");
  }
  68%{
    background-image: url("../img/portfolio/samsung/flip-bz-5.png");
  }
  85%{
    background-image: url("../img/portfolio/samsung/flip-bz-6.png");
  }
}
@keyframes flip_gy{
  0%{
    background-image: url("../img/portfolio/samsung/flip-gy-1.png");
  }
  17%{
    background-image: url("../img/portfolio/samsung/flip-gy-2.png");
  }
  34%{
    background-image: url("../img/portfolio/samsung/flip-gy-3.png");
  }
  51%{
    background-image: url("../img/portfolio/samsung/flip-gy-4.png");
  }
  68%{
    background-image: url("../img/portfolio/samsung/flip-gy-5.png");
  }
  85%{
    background-image: url("../img/portfolio/samsung/flip-gy-6.png");
  }
}
@keyframes flip_wh{
  0%{
    background-image: url("../img/portfolio/samsung/flip-wh-1.png");
  }
  17%{
    background-image: url("../img/portfolio/samsung/flip-wh-2.png");
  }
  34%{
    background-image: url("../img/portfolio/samsung/flip-wh-3.png");
  }
  51%{
    background-image: url("../img/portfolio/samsung/flip-wh-4.png");
  }
  68%{
    background-image: url("../img/portfolio/samsung/flip-wh-5.png");
  }
  85%{
    background-image: url("../img/portfolio/samsung/flip-wh-6.png");
  }
}
@keyframes ultra_bk{
  0%{
    background-image: url("../img/portfolio/samsung/s20-ultra-bk-1.png");
  }
  20%{
    background-image: url("../img/portfolio/samsung/s20-ultra-bk-2.png");
  }
  40%{
    background-image: url("../img/portfolio/samsung/s20-ultra-bk-3.png");
  }
  60%{
    background-image: url("../img/portfolio/samsung/s20-ultra-bk-4.png");
  }
  80%{
    background-image: url("../img/portfolio/samsung/s20-ultra-bk-5.png");
  }
}
@keyframes ultra_bz{
  0%{
    background-image: url("../img/portfolio/samsung/s20-ultra-bz-1.png");
  }
  20%{
    background-image: url("../img/portfolio/samsung/s20-ultra-bz-2.png");
  }
  40%{
    background-image: url("../img/portfolio/samsung/s20-ultra-bz-3.png");
  }
  60%{
    background-image: url("../img/portfolio/samsung/s20-ultra-bz-4.png");
  }
  80%{
    background-image: url("../img/portfolio/samsung/s20-ultra-bz-5.png");
  }
}
@keyframes ultra_wh{
  0%{
    background-image: url("../img/portfolio/samsung/s20-ultra-wh-1.png");
  }
  20%{
    background-image: url("../img/portfolio/samsung/s20-ultra-wh-2.png");
  }
  40%{
    background-image: url("../img/portfolio/samsung/s20-ultra-wh-3.png");
  }
  60%{
    background-image: url("../img/portfolio/samsung/s20-ultra-wh-4.png");
  }
  80%{
    background-image: url("../img/portfolio/samsung/s20-ultra-wh-5.png");
  }
}
@keyframes s20_wh{
  0%{
    background-image: url("../img/portfolio/samsung/s20-wh-1.png");
  }
  25%{
    background-image: url("../img/portfolio/samsung/s20-wh-2.png");
  }
  50%{
    background-image: url("../img/portfolio/samsung/s20-wh-3.png");
  }
  75%{
    background-image: url("../img/portfolio/samsung/s20-wh-4.png");
  }
}
@keyframes s20_bl{
  0%{
    background-image: url("../img/portfolio/samsung/s20-bl-1.png");
  }
  25%{
    background-image: url("../img/portfolio/samsung/s20-bl-2.png");
  }
  50%{
    background-image: url("../img/portfolio/samsung/s20-bl-3.png");
  }
  75%{
    background-image: url("../img/portfolio/samsung/s20-bl-4.png");
  }
}
@keyframes s20_gy{
  0%{
    background-image: url("../img/portfolio/samsung/s20-gy-1.png");
  }
  25%{
    background-image: url("../img/portfolio/samsung/s20-gy-2.png");
  }
  50%{
    background-image: url("../img/portfolio/samsung/s20-gy-3.png");
  }
  75%{
    background-image: url("../img/portfolio/samsung/s20-gy-4.png");
  }
}
@keyframes tornado {
       from {
         transform: perspective(1000px) rotateY(0deg);
         transform-origin: 50% 0%;
       }
       to {
           transform: perspective(1000px) rotateY(360deg);
           transform-origin: 50% 0%;
       }
}

@font-face {
    font-family: 'Cafe24Shiningstar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Dangdanghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Wemakeprice-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
  font-family: 'Noto Sans KR', sans-serif;
}
html, body{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
  -webkit-scrollbar: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-overflow-style: none; /* IE and Edge */

}
html::-webkit-scrollbar, body::-webkit-scrollbar{
  display: none;
}

#smartphone_header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #111;
  box-sizing: border-box;
  padding: 20px 0;
  a{
    color: #fff;
  }
  h1{
    display: inline-block;
    text-align: left;
    width: calc(20% - 4px);
    padding-left: 5%;
    box-sizing: border-box;
    vertical-align: middle;
    a{
      display: block;
      line-height: 50px;
      font-size: 1.2rem;
      img{
        display: none;
      }
    }
  }
  .depth_01{
    display: inline-block;
    text-align: right;
    width: calc(80% - 4px);
    box-sizing: border-box;
    padding-right: 5%;
    vertical-align: middle;
    li{
      display: inline-block;
      margin: 0 3%;
      text-align: center;
      &:after{
        display: block;
        content: "";
        border-bottom: solid 3px #fff;
        transition: 0.5s;
        width: 0;
      }
      &.active, &:hover{
        &:after{
          width: 100%;
        }
      a{
        display: inline-block;
        line-height: 28px;
        }
      }
    }
  }
}
#main{
  section{
    background-color: #000;
    .scroll-div{
		font-family: 'Open Sans';
		font-style: normal;
		text-align: center;
		position: relative;
		top: 5%;
      span {
  		font-style: normal;
  		color: #fff;
  	  }
	  }
  }
  .section1{
    .ad_banner{
      position: relative;
      width: 100%;
      height: 100%;
      background-color: #fff;
      video{}
      .ad_text{
        position: absolute;
        top: calc(50% - 200px);
        left: 15%;
        text-align: left;
        z-index: 1;
        &:after{
          position: absolute;
          display: block;
          content: "";
          width: 0;
          height: 101%;
          top: 0;
          right: 0;
          background-color: #f7f7f7;
          animation: leftToright;
          animation-delay: 1s;
          animation-duration: 2s;
          animation-timing-function: ease-in;
          animation-fill-mode: backwards;
          box-shadow: 0 0 5px #f7f7f7;
        }
        h3{
          font-size: 3rem;
          line-height: 3.7rem;
        }
        p{
          padding-top: 20px;
          span{
            display: block;
            font-size: 1.4rem;
            color: #000;
            line-height: 2rem;
          }
        }
        .promo_time{
          font-size: 1.5rem;
          font-family: 'Y_Spotlight';
          letter-spacing: 3px;
          padding-top: 40px;
        }
        #section1Btn{
          display: block;
          background-color: #000;
          color: #fff;
          line-height: 45px;
          height: 45px;
          margin-top: 30px;
          width: 70%;
          text-align: center;
          border-radius: 10px;
          font-size: 1.1rem;
          cursor: pointer;
          font-size: 1rem;
          border: solid 0.5px #000;
          outline: 0;
        }
      }
    }
  }
  .section2{
    .swiper-container {
      width: 100%;
      height: 100%;
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        color: #fff;
        line-height: 100vh;
        background: #000;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        .phone_img{
          display: inline-block;
          width: calc(35% - 4px);
          font-size: 0;
          color: transparent;
          text-align: center;
          box-sizing: border-box;
          padding-left: 128px;
          vertical-align: middle;
          input{
            display: none;

            &:checked + label{
              border: solid 2px #ccc;
            }

            &:checked + label + div{
              z-index: 1;
            }
          }
          label{
            display: inline-block;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: solid 1px #ccc;
            cursor: pointer;
            margin: 90% 1% 0;
            vertical-align: middle;
            z-index: 5;
            position: relative;
          }
          div{
            position: absolute;
            z-index: -1;
            background-size: 100%;
            background-position-x: 70px;
            background-position-y: 100%;
            background-repeat: no-repeat;
            cursor: pointer;
            width: calc(35% - 4px);
            height: 71%;
            top: 0;
            left: 0;
          }
          .fe_nv{
            background-image: url("../img/portfolio/samsung/s20-fe-5g-nv.png");
            &:hover{
              animation: fe_nv;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .fe_lv{
            background-image: url("../img/portfolio/samsung/s20-fe-5g-lv.png");
            &:hover{
              animation: fe_lv;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .fe_wh{
            background-image: url("../img/portfolio/samsung/s20-fe-5g-wh.png");
            &:hover{
              animation: fe_wh;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .fe_mt{
            background-image: url("../img/portfolio/samsung/s20-fe-5g-mt.png");
            &:hover{
              animation: fe_mt;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .fe_rd{
            background-image: url("../img/portfolio/samsung/s20-fe-5g-rd.png");
            &:hover{
              animation: fe_rd;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .fold2_bk{
            background-image: url("../img/portfolio/samsung/z-fold2-bk.png");
            &:hover{
              animation: fold2_bk;
              animation-duration: 1.8s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .fold2_bz{
            background-image: url("../img/portfolio/samsung/z-fold2-bz.png");
            &:hover{
              animation: fold2_bz;
              animation-duration: 1.8s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .flip_bz{
            background-image: url("../img/portfolio/samsung/flip-bz-0.png");
            &:hover{
              animation: flip_bz;
              animation-duration: 1.5s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .flip_gy{
            background-image: url("../img/portfolio/samsung/flip-gy-0.png");
            &:hover{
              animation: flip_gy;
              animation-duration: 1.5s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .flip_wh{
            background-image: url("../img/portfolio/samsung/flip-wh-0.png");
            &:hover{
              animation: flip_wh;
              animation-duration: 1.5s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .ultra_bk{
            background-image: url("../img/portfolio/samsung/s20-ultra-bk.png");
            &:hover{
              animation: ultra_bk;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .ultra_bz{
            background-image: url("../img/portfolio/samsung/s20-ultra-bz.png");
            &:hover{
              animation: ultra_bz;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .ultra_wh{
            background-image: url("../img/portfolio/samsung/s20-ultra-wh.png");
            &:hover{
              animation: ultra_wh;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .s20_wh{
            background-image: url("../img/portfolio/samsung/s20-wh-0.png");
            &:hover{
              animation: s20_wh;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .s20_bl{
            background-image: url("../img/portfolio/samsung/s20-bl-0.png");
            &:hover{
              animation: s20_bl;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
          .s20_gy{
            background-image: url("../img/portfolio/samsung/s20-gy-0.png");
            &:hover{
              animation: s20_gy;
              animation-duration: 1s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: infinite;
            }
          }
        }
        .phone_info{
          line-height: 0;
          font-size: 0;
          width: calc(65% - 4px);
          padding-bottom: 40px;
          display: inline-block;
          vertical-align: middle;
          .phone_name{
            font-family: 'Wemakeprice-SemiBold';
            font-size: 2.5rem;
            line-height: 40px;
            text-indent: 3%;
            text-align: left;
            padding-bottom: 30px;
          }
          .info{
            width: 85%;
            li{
              display: inline-block;
              width: calc(30% - 4px);
              background-color: #fff;
              text-align: center;
              margin: 0 1%;
              box-sizing: border-box;
              padding: 10px 0;
              transition: 0.5s;
              &.rotate{
                transform: rotateY(360deg);
              }
              p{
                display: inline-block;
                width: calc(65% - 4px);
                position: relative;
                top: 0;
                text-align: left;
                vertical-align: middle;
                text-indent: 10%;
                span{
                  display: block;
                  color: #000;
                  font-size: 1rem;
                  line-height: 20px;
                }
                .small{

                }
                .bold{
                  font-size: 1.2rem;
                  font-weight: 500;
                  padding-top: 20px;
                }
              }
              img{
                display: inline-block;
                width: calc(35% - 4px);
                vertical-align: middle;
              }
            }
          }
          .phone_character{
            list-style: disc;
            text-align: left;
            margin-left: 5%;
            padding-top: 30px;
            text-indent: 5px;
            li{
              font-size: 1.6rem;
              font-weight: bold;
              line-height: 45px;
              span{
                font-size: 1rem;
                color: #fff;
                margin-left: 1%;
                font-weight: 400;
              }
            }
          }
        }
      }
      #swiper-pagination{
        bottom: 13%;
        /* custmm bullets style */
        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          font-size: 0;
          opacity: 1;
          background-color: transparent;
          border: solid 1px #fff;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin: 0 5px;
        }
        .swiper-pagination-bullet-active {
          background-color: rgba(255,255,255,0.9);
          width: 13px;
          height: 13px;
        }
      }
      #swiper-button-prev, #swiper-button-next{
        color: #fff;
        opacity: 0.5;
        &:hover{
          opacity: 1;
        }
      }
      #swiper-button-next.swiper-button-disabled, #swiper-button-prev.swiper-button-disabled{
        opacity: 0;
      }
      #swiper-button-next{
        right: 5%;
      }
      #swiper-button-prev{
        left: 5%;
      }
    }
  }
  .section3{
    overflow: hidden;
    .scroll-div{
      width: 100%;
      overflow: hidden;
      height: calc(100vh - 180px);
      .promotion_slide{
        width: 10000px;
        height: 100%;
        > li{
          float: left;
          width: 100vw;
          height: 100%;
          cursor: pointer;
          a{
            display: block;
            color: #000;
            font-weight: bold;
            font-size: 2.5rem;
            line-height: 4rem;
            padding: 20px 0 30px;
          }
        }
        .promotion_li_01{
          background-image: url("../img/portfolio/samsung/note-accessory.png");
          background-position-x: 88%;
          background-size: 60%;
          text-align: left;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position-y: 50%;
          padding: 230px 120px 0;
          box-sizing: border-box;
          p{
            span{
              display: block;
              color: #f0aea5;
            }
            .promotion_title{
              font-family: 'Codystar', cursive;
              font-size: 7rem;
              letter-spacing: 5px;
              font-weight: bold;
              line-height: 7rem;
            }
            .promotion_middle{
              font-family: 'BMDOHYEON';
              font-size: 3rem;
              line-height: 4rem;
            }
          }
          .promotion_bottom{
            font-family: 'Codystar', cursive;
            font-size: 3.5rem;
          }
        }
        .promotion_li_02{
          background-image: url("../img/portfolio/samsung/january_bonus.png");
          background-size: 100%;
          background-repeat: no-repeat;
          box-sizing: border-box;
          padding: 125px 120px 0;
          text-align: right;
          p{
            margin-right: 40px;
            line-height: 4.3rem;
            span{
              color: #fff;
              display: block;
              font-weight: 600;
            }
            .promotion_title{
              font-size: 2.5rem;
            }
            .promotion_middle{
              font-size: 3.6rem;
            }
          }
          .bonus{
            text-align: center;
            width: 45%;
            display: inline-block;
            padding-top: 30px;
            li{
              position: relative;
              display: inline-block;
              width: calc(20% - 4px);
              margin: 0 10px;
              vertical-align: top;
              text-align: center;
              img{
                display: block;
                width: 90%;
                margin: 0 auto;
              }
              span{
                display: block;
                font-size: 0.9rem;
                padding-top: 10px;
              }
            }
            .bonus_top{
              display: block;
              padding-bottom: 15px;
              width: 100%;
              margin: 20px 0 30px 55px;
              text-align: left;
              img{
                display: inline-block;
                width: 20%;
                vertical-align: middle;
              }
              p{
                display: inline-block;
                vertical-align: middle;
                margin-right: 0;
                line-height: 32px;
                span{
                  display: block;
                  text-indent: 10px;
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
        .promotion_li_03{
          background-image: url("../img/portfolio/samsung/salon-de-photograph.png");
          background-size: 100%;
          background-repeat: no-repeat;
          box-sizing: border-box;
          text-align: left;
          padding: 200px 120px;
          p{
            span{
              display: block;
            }
            .promotion_title{
              font-size: 2rem;
            }
            .promotion_middle{
              font-size: 4rem;
              font-family: 'Courgette', cursive;
              padding: 24px 0 30px;
            }
          }
          .promotion_bottom{
            font-size: 1.7rem;
            line-height: 2.4rem;
          }
        }
      }
    }
  }
  .section4{
    .reservation_img{
      background-image: url('../img/portfolio/samsung/reservation.png');
      color: #fff;
      text-align: left;
      line-height: 40px;
      background-repeat: no-repeat;
      background-size: 100%;
      padding: 100px 120px;
      background-position-y: 50%;
      box-sizing: border-box;
      .text{
        display: inline-block;
        width: calc(35% - 4px);
        vertical-align: bottom;
        padding-bottom: 90px;
        h2{
          font-size: 2.5rem;
        }
        h3{
          font-size: 2.1rem;
        }
        p{
          padding: 20px 0 30px;
          span{
            display: block;
            font-size: 1.4rem;
            line-height: 28px;
            letter-spacing: 1px;
          }
        }
        #reservationBtn{
          background-color: #fff;
          color: #000;
          border-radius: 20px;
          font-size: 1.1rem;
          display: block;
          width: 200px;
          text-align: center;
          line-height: 50px;
          transition: 0.6s;
          cursor: pointer;
          border: solid 0.5px #fff;
          outline: 0;

          &:hover{
            background-color: rgba(255,255,255,0.5);
            border: solid 0.5px rgba(255,255,255,0.1);
          }
        }
      }
      .samsung_shop{
        display: inline-block;
        width: calc(65% - 4px);
        vertical-align: bottom;
        box-sizing: border-box;
        padding-top: 20px;
        text-align: center;
      }
    }
  }
  .section5{
    background-color: black;
    line-height: 30px;
    .scroll-div{
      box-sizing: border-box;
      padding: 0 120px;
      .samsung_cs{
        color: #fff;
        font-size: 1.7rem;
        padding-bottom: 25px;
        text-align: left;
        text-indent: 40px;
      }
      .sec-5-left{
        text-align: left;
        display: inline-block;
        width: calc(40% - 4px);
        vertical-align: bottom;
        .help{
          color: #fff;
          font-size: 1.4rem;
          line-height: 40px;
          padding-bottom: 20px;
          text-indent: 8%;
        }
        .help_list{
          width: 71%;
          margin-left: 5%;
          li{
            background-color: rgba(255,255,255,0.9);
            padding: 20px;
            margin-bottom: 20px;
            line-height: 24px;
            cursor: pointer;
            transition: 0.6s;
            position: relative;

            &:hover{
              background-color: #fff;
            }
            h4{
              font-size: 1.2rem;
              padding-bottom: 10px;
              .fa-external-link-alt{
                font-size: 1.2rem;
                color: #000;
                text-indent: 5px;
                position: relative;
                bottom: 1px;
                display: inline-block;
              }
            }
            p{
              font-size: 1rem;
            }
          }
        }
      }
      .sec-5-right{
        text-align: right;
        display: inline-block;
        width: calc(60% - 4px);
        vertical-align: bottom;
        .using_samsung{
          color: #fff;
          text-align: right;
          margin-right: 10px;
          padding-bottom: 10px;
          font-size: 0.9rem;
        }
        .sns_list{
          width: 90%;
          display: inline-block;
          text-align: left;
          li{
            background-color: #000;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 20px;
            position: relative;
            cursor: pointer;
            width: 905px;
            height: 150px;
            text-indent: 60px;

            &:after{
              position: absolute;
              display: block;
              content: "";
              background-color: rgba(255,255,255,0.4);
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              opacity: 0;
              transition: 0.6s;
              z-index: 1;
            }
            &:hover{
              &:after{
                opacity: 1;
              }
              a{
                font-size: 1.7rem;
              }
            }
            a{
              position: relative;
              display: block;
              font-size: 1.6rem;
              color: #fff;
              font-weight: 600;
              letter-spacing: 2px;
              line-height: 150px;
              transition: 0.6s;
              z-index: 5;
              i{
                display: inline-block;
                margin-right: 5px;
              }
            }
          }
          .sns_list_01{
            background-image: url('../img/portfolio/samsung/sns_banner_05.png');
          }
          .sns_list_02{
            background-image: url('../img/portfolio/samsung/sns_banner_04.png');
          }
          .sns_list_03{
            background-image: url('../img/portfolio/samsung/sns_banner_06.png');
          }
          .sns_list_04{
            background-image: url('../img/portfolio/samsung/sns_banner_01.png');
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
