  <footer id="footer">
    <div class="center">
      <ul class="footer_util">
        <li><a href="/sub/PL_introduce.html">ABOUT</a></li>
        <li><a href="/sub/terms_1.html">이용약관</a></li>
        <li><a href="/sub/terms_2.html">개인정보처리방침</a></li>
        <li><a href="/sub/terms_3.html">청소년보호정책</a></li>
        <li><a href="/sub/terms_4.html">이메일 무단수집거부</a></li>
        <li><a href="/sub/promotion.html">제휴/프로모션 문의</a></li>
      </ul>
      <div class="company_info">
        <p class="info_p_top">
          <span class="br">인천광역시 서구 장고개로 340 2F <span class="space"></span> 대표 : 한수연 <span class="space"></span></span>
          <span class="br"> 사업자등록번호 : 123-00-54321 <span class="space"></span> 통신판매업신고번호 : 제 2020-인천서구-9999호</span>
          </p>
        <p><a href="tel:010-9308-1095">대표번호 : 010.9308.1095</a><a href="mailto:suyeonh12@gmail.com">e-mail : suyeonh12@gmail.com</a>Copyright ⓒ 2020 PlayLP</p>
      </div>
    </div>
    </footer>
</body>
</html>
