<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Play LP는 LP사운드를 사랑하는 사람들이 만든, LP의 새로운 전성기를 꿈꾸는 브랜드입니다.
  모든 사람들이 LP와 턴테이블을 쉽고 편하게 즐길 수 있길 바라며 부담없는 가격에 LP와 턴테이블을 대여할 수 있도록 하였습니다">
  <meta name="keywords" content="LP, Vynle, 턴테이블, LP대여, LP렌탈, LP앨범, LP카페, LP바, 빈티지, 레트로, 힙, 트렌드, 감성, 아날로그">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>세상에 없던 서비스, Play LP</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/scss/sass-header.min.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script src="https://kit.fontawesome.com/5e55c9ed17.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>
<!--header#header>div.con>h1(>a[href="/index.html"]>img)+ul.depth_01>li(>a[href="#"]{대메뉴$}+ul.ab_box>li(>a[href="#"]{소메뉴$})*3)*5-->
<div class="top_section">
  <div class="top_unit">
    <span class="top_unit_span">
      <a href="#" onClick="window.open('/sub/join.html','PlayLP 회원가입','width=1080px,height=800px')">회원가입</a>
      <a href="/sub/login.html">로그인</a>
    </span>
  </div>
</div>
<header id="header">
  <div class="wrap">
    <div class="logo_section">
      <h1><a href="/index.html"><img src="/img/logo-glow.png" alt="로고"></a></h1>
      <p id="copy">모두의 음악, 내가 원하는 공간에서</p>
    </div>
    <div class="search">
      <span class="search_bar">
          <a href="#"><i class="xi-search"></i></a>
          <input type="search" name="search" placeholder="백예린 컴백">
      </span>
    </div>
    <nav class="navigation">
      <ul class="depth_01">
        <li>
          <a href="#">BRAND</a>
          <ul class="ab_box">
            <li><a href="/sub/PL_introduce.html">Play LP</a></li>
            <li><a href="/sub/pl_CI.html">CI</a></li>
            <li class="ab_box2">
              <a href="/sub/news.html">Journal</a>
              <ul class="depth_02">
                <li><a href="/sub/news.html">뉴스</a></li>
                <li><a href="/sub/column.html">칼럼</a></li>
              </ul>
              </li>
            <li><a href="/sub/contact.html">Contact</a></li>
          </ul>
        </li>
        <li>
          <a href="/sub/grade.html">멤버십</a>
        </li>
        <li>
          <a href="#">상품</a>
          <ul class="ab_box">
            <li><a href="/sub/goods_recommend.html">추천상품</a></li>
            <li><a href="/sub/goods_LP.html">LP</a></li>
            <li><a href="/sub/goods_turntable.html">턴테이블</a></li>
          </ul>
        </li>
        <li>
          <a href="/sub/event.html">이벤트</a>
          <ul class="ab_box">
            <li><a href="#">나의 이벤트</a></li>
            <li><a href="#">진행중 이벤트</a></li>
            <li><a href="#">종료된 이벤트</a></li>
          </ul>
        </li>
        <li>
          <a href="/sub/faq.html">고객지원</a>
          <ul class="ab_box">
            <li><a href="/sub/faq.html">FAQ</a></li>
            <li><a href="/sub/bbs.html">공지사항</a></li>
            <li><a href="/sub/qna.html">Q&A</a></li>
          </ul>
        </li>
      </ul>
      <div class="fake"></div>
      <div class="nav_unit_section">
        <a href=""><i class="far fa-user" id="user"></i></a>
        <a href=""><i class="fas fa-shopping-cart" id="cart"></i></a>
      </div>
    </nav>
  </div>
</header>
<aside id="quick_menu">
  <div class="quick_1"><span id="page_up"></span></div>
  <div class="quick_2">
    <p><span>최근 본 상품</span></p>
    <a href="#"><img src="/img/main/new_2.png" alt="최근 본 상품 이미지"></a>
  </div>
  <div class="quick_3"><span id="page_down"></span></div>
</aside>
<script>
  $(document).ready(function(){
    $("#page_up").click(function(){
      $('html, body').animate({scrollTop: '0'}, 700);
    });
    $("#page_down").click(function(){
      $('html, body').animate({scrollTop: '1800px'}, 900);
    });
  });
</script>
