@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face {
 font-family: 'S-CoreDream-4Regular';
 src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}
@font-face {
font-family: 'NanumSquareRound';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv2 Gothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
 font-family: 'NIXGONM-Vb';
 src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}
@font-face {
font-family: 'BBTreeGB';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'IBMPlexSansKR-Text';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Text.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'JSDongkang-Regular';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Cafe24Simplehae';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: #000;
}
ul,ol,dl{
  list-style: none;
}
body{
  position: relative;
}
.font.margin10 {
    margin-bottom: 10px;
}
.font.size18 {
    font-size: 18px;
}

::-webkit-scrollbar { width: 20px; }
::-webkit-scrollbar-thumb {
background: #0522bd;
}
::-webkit-scrollbar-track { background: #fff; }

#header{
  width: 100vw;
  background: rgba(255,255,255,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 10px 30px 10px 15px;
  box-sizing: border-box;
}
#header nav{
  width: calc(70% - 4px);
  display: inline-block;
  padding-left: 30px;
  box-sizing: border-box;
}
#header nav .deptn_01{}
#header nav .deptn_01 li{
  display: inline-block;
}
#header nav .deptn_01 li a{
  display: block;
  line-height: 28px;
  margin-right: 25px;
  font-family: 'GongGothicMedium';
}
#pagetop{
  position: fixed;
  bottom: 4%;
  right: 2%;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
  padding: 5px;
  z-index: 500;
  cursor: pointer;
}
#request{
  text-align: right;
  width: calc(30% - 4px);
  display: inline-block;
}
.flow{
  background-image: url('https://assets.website-files.com/56d8a8f1100bc1bb7928eebd/5831d10096c13a1f491ac02d_wavy-k.png');
  background-position: -200px 100%;
  background-size: 183px;
  background-repeat: repeat-x;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
  width: 120px;
  line-height: 25px;
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
  display: inline-block;
  margin-right: 10px;
}
#flow{
  background-image: url('https://assets.website-files.com/56d8a8f1100bc1bb7928eebd/5831d10096c13a1f491ac02d_wavy-k.png');
  cursor: pointer;
}
#flow #modal{
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 712px;
  height: 496px;
  background: #fff;
  overflow: visible;
  padding: 50px;
  display: none;
}
#flow #modal.open{
  display: block;
}
#modal .xi-close{
  position: absolute;
  right: 0;
  bottom: 100%;
  cursor: pointer;
}
#modal fieldset{
  border: 0;
  font-size: 18px;
}
#modal form{
  width: 612px;
  margin: auto;
  padding: 50px 0;
  text-align: left;
}
.input-double-line{
  width: 100%;
  align-items: center;
  font-size: 0;
}
.input-double-line > li{
  width: calc(50% - 14px);
  margin-right: 28px;
  margin-bottom: 25px;
  display: inline-block;
  vertical-align: top;
}
.input-double-line > li:last-child{
  margin-right: 0;
}
p{
  color: #7b7b7b;
}
input[type="text"]{
  border: 1px solid #E0E0E0;
  padding: 0 20px;
  margin: 0;
  height: 48px;
  font-size: 18px;
  vertical-align: top;
  width: 85%;
}
#modal form input[type="password"]{
  width: calc(100% - 42px);
  margin-bottom: 25px;
}
input[type="password"]{
  border: 1px solid #E0E0E0;
  padding: 0 20px;
  margin: 0;
  height: 48px;
  font-size: 18px;
  vertical-align: top;
}
.btn-box{
  text-align: center;
  padding-top: 20px;
}
.btn-box .btn{
  width: 184px;
  margin-right: 27px;
  outline: none;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s;
}
.btn.btn-normal{
  display: inline-block;
  height: 48px;
  background-color: #d8d8d8;
  color: #5f5f5f;
  line-height: 48px;
  border: 1px solid #ECECEC;
  font-size: 18px;
}
.btn.btn-normal:hover{
  background-color: #f5f5f5;
}
#btn-add-admin{
  background-color: #0D6FB8;
  color:#fff;
}
#white{
  background-color: #0410b6;
  background-image: url('/img/flow-white.png');
  color: #fff;
  background-size: 80px 7px;
}
#blue{
  background-image: url('/img/flow-blue.png');
  background-size: 70px 10px;
}
#content{
  position: relative;
  width: 100vw;
  height: 100vh;
}
#content video{}
#content .text{
  color: #fff;
  position: absolute;
  margin: auto;
  font-family: 'S-CoreDream-4Regular';
  top: 45%;
  left: 5%;
}
.text .text_box{
  overflow: hidden;
}
.text_box h2{
  font-size: 2rem;
  transform: translateY(40px);
  transition: 1s;
}
.text_box h3{
  font-size: 1.6rem;
  transform: translateY(30px);
  transition: 1s;
}

#portfolio{
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}
